body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.plato  {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.region {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


/* responsive para tablets*/
@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }

    .container {
        padding: 15px;
    }
}

/* resposive para celulares */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }
}